<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Tinea pedis (Athlete's foot)</h1>
</center>
	<p title=Athletes foot>
		<p style="color:white;">An itchy, fungal infection that is caused by sweaty, confined feet that are enclosed from air supply. This fungus can live in damp environments like the dorm room shower. </p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>scaly red rash</li>
    <li>blisters</li>
    <li>ulcers</li>
    <li>chronic dryness and scaling</li>
</ul>

<h4 style="color:white;">Treatments include:</h4>
	<p title=Treatments>

<ul style="color:white;">
	<li>Over-the-counter topical antifungal medication (Desenex, Lamisil, Lotrinmin AF, Lotrimin Ultra, Tinactin)</li>
    <li>Soak your feet in salt water or diluted vinegar to help dry up blisters.</li>
    <li>Keep your feet dry and change socks regularly. When wearing shoes, make sure they are light and well ventilated.</li>
</ul>

<h4 style="color:white;">Seeing a Doctor:</h4>
	<p title=Seeing a Doctor>
		<p style="color:white;">If over-the-counter medicine does not treat your infection, your doctor may offer topical or oral perscription antifungal medications.</p>

		<footer style="color:white;">
			<p> SLO Hacks 2019 </p>
				</footer>

</html>
