<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Upper Respiratory Infection (Common Cold)</h1>
</center>
<p title=Common Cold>
<p style="color:white;">This is one of the most common viral infections of the nose and throat. If you are sneezing and have a runny nose, then the common cold is a strong possibility. Check the "influenza" or "allergies" pages to compare if you may relate more to those symptoms.</p>

<h4 style="color:white;">Symptoms include:</h4>
<p title=Symptoms>

<ul style="color:white;">
	<li>runny nose</li>
    <li>cough</li>
    <li>sore throat</li>
    <li>congestion</li>
    <li>watery eyes</li>
    <li>sneezing</li>
    <li>fatigue</li>
    <li>fever</li>
    <li>mild body aches</li>
</ul>

<h4 style="color: white;">Treatments include:</h4>
<p title=Treatments>
	</p>

<ul style="color:white;">
	<li>Pain relievers(acetaminophen such as Tylenol)</li>
    <li>Ibuprofen (Advil, Motrin)</li>
    <li>Cough syrup</li>
		<li>Drink plenty of fluids like water and juice. Try to avoid the 		caffeine and alcohol (we know); they can dehydrate you. Warm soup is helpful, too!</li>
    <li>Rest. If possible, stay home from school.</li>
    <li>Adjust your room's temperature and humidity. Keep your room warm, but not overheated. Consider a humidifier if your room is dry.</li>
</ul>

<footer style="color:white;">
	<p> SLO Hacks 2019 </p>
</footer>

</body>
</html>
