<!DOCTYPE html>
<html>
<title>Home</title>

<head>
  <link href="../CSS/home.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
  <div class="overlay" style="width:100%">
    <i class="fas fa-times fa-4x close" style="color:black"></i>
  </div>



  {% if current_user %}
  <div class="navbar fill">
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/profile'>Profile</a></li>
      <li><a href="/about">About</a></li>

    {% else %}
    <div class="navbar fill">
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="how-to"><a>How do I use this website?</a></li>
      <div class="dropdown">
        <button class="dropbtn">Version
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href='/'>Compare U.S. Sources</a>
          <a href="/international">Compare International Sources</a>
          <a href="/usinternational">Compare U.S. & International Sources</a>
        </div>

      </div>


    {% endif %}
    <div>
      {% if current_user %}
      <li><a style='float: right;'href="{{ logout_url }}" class="button"> Log Out</a><br></li>
    <!-- <a style='float: right;' href="{{ login_url }}" class="button"> Log In</a> -->

      {% else %}
        <li><a style='float: right;'href="{{ login_url }}" class="button"> Log In</a></li>
      {% endif %}
  </div>

</body>

<script src="../Javascript/home.js"></script>
</html>
