<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Human papillomavirus (HPV)</h1>
</center>
	<p title=HPV>
		<p style="color:white;">The most common sexually transmitted infection that affects both men and women, it is usually transmitted during vaginal, oral, or anal sex.</p>

<h4 style="color:white;">Ways to prevent HPV:</h4>
	<p title=Prevention>
		<ul style="color:white;">
			<li>Practicing safe sex and practices on a college campus is extremely important. The easiest form of action is using condoms and trying to limit the amount of sexual partners you have.</li>
			<li>The Gardasil vaccine protects against types of HPV that are associated with cancer and some types of warts. Men and women are eligible for this vaccine until they are 26 years old.</li>
		</ul>

<h4 style="color:white;">Symptoms include</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>genital warts</li>
    <li>warts in the throat</li>
    <li>small bumps</li>
</ul>

	<p style="color:white;">Although these warts may go away on their own, the virus still lives within the infected person's body.</p>

<h4 style="color:white;">Seeing a Doctor:</h4>
	<p title=Seeing a Doctor>
		<p style="color:white;">Because HPV sometimes does not go away on its own, serious health problems can arise from the virus. For women, it is recommended to have their first Pap smear (a test to so identify abnormal cells in women) at age 21. From ages 21 to 20, these tests should happen every 3 three years. If 1 of the 13 strains of HPV that lead to cancer are found in a test, your doctor may begin seeing you more often to monitor for cervical changes and perform more frequent Pap tests.</p>

<h4 style="color:white;">Treatments include:</h4>
	<p title=Treatments>
		<p style="color:white;">In most cases, HPV goes away on its own. There is no treatment made for HPV, but your doctor will most likely ask you to come in over a prolonged period of time to check on your infection. Keep in contact with your physician.</p>

<footer style="color:white;">
	<p> SLO Hacks 2019 </p>
</footer>

</html>
