<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Influenza (Flu)</h1>
</center>
	<p title=Flu>
		<p style="color:white;">The flu is, like the common cold, a viral infection. The symptoms are often a more severe form of those found in common colds. Proper rest and care will be helpful in assisting recovery.</p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>fever</li>
    <li>cough</li>
    <li>sore throat</li>
    <li>runny or stuffy nose</li>
    <li>muscle or body aches</li>
    <li>headaches</li>
    <li>fatigue</li>
</ul>

<h4 style="color:white;">Treatments include:</h4>
	<p title=Treatments>
		<p style="color:white;">The flu is slightly worse than the common cold, so these tips may help in easing your symptoms.</p>

<ul style="color:white;">
	<li>Drink plenty of liquids. Water, juice, and soup will help keep you hydrated.</li>
    <li>Rest! Sleeping allows your body to fight off infection.</li>
    <li>Over-the-counter pain relievers such as acetaminophen (Tylenol, others) or ibuprofen (Advil, Motrin IB, others) may soothe headaches. Only use when needed.</li>
</ul>

<h4 style="color:white;">Seeing a Doctor:</h4>
	<p title=Seeing a Doctor>
		<p style="color:white;">If you feel your symptoms require medical attention, see a doctor. They may perscribe you an antiviral medication like Tamiflu or Relenza. These may lessen your illness by a day.</p>

<footer style="color:white;">
	<p> SLO Hacks 2019 </p>
		</footer>

</html>
