<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

    footer {
  			background-color: burlywood;
  	}
  	footer p{
  			color: white;
  			flex-direction: column;
  			align-items: center;
  	}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Meningococcal meningitis</h1>
</center>
	<p title= Meningococcal meningitis>
		<p style="color:white">A bacterial infection that results in swelling of the membranes covering the brain, Meningococcal meningitis is common on college campuses because college kids live in such close quarters.</p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>sudden high fever</li>
    <li>neck stiffness</li>
    <li>headache</li>
    <li>nausea or vomiting</li>
    <li>fast breathing</li>
    <li>mental confusion/headaches</li>
</ul>

<h4 style="color:white">Seeing a doctor:</h4>
	<p title=Seeing a doctor>
  	<p style="color:white">Meningococcal meningitis is a very serious illness and can lead to several complications (brain damage, paralysis, deafness, etc.) Seek medical attention as soon as possible. Your doctor will give you antibiotics in order to fight the infection.</p>

    <footer style="color:white;">
    	<p> SLO Hacks 2019 </p>
    		</footer>

</html>
