<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Mononucleosis (Mono)</h1>
</center>
	<p title=Mono>
		<p style="color:white;">Caused by the Epstein-Barr virus (a virus part of the herpes virus family, one of the most common viruses you can get), Mono is spread through the sharing of bodily fluids such as kissing or sharing food, drinks, or silverware with an infected person.</p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>fatigue</li>
    <li>sore throat</li>
    <li>strep throat</li>
    <li>fever</li>
    <li>swollen tonsils</li>
    <li>low fever</li>
</ul>

<h4 style="color:white;">Treatments include:</h4>
	<p title=Treatments>
		<p style="color:white;">Mono does not have a therapy or antibiotic tailored to work against it. Treatment mostly stems from taking care of yourself with the following steps.</p>

<ul style="color:white;">
	<li>Drink water and fruit juice. Lots of fluids help ease the fever and sore throat.</li>
    <li>Gargle with salt water (1/2 teaspoon of salt in 8oz of warm water).</li>
    <li>Over the counter medicine such as acetaminophen (Tylenol, others) or ibuprofen (Advil, Motrin IB) can relieve symptoms. Use them as needed.</li>
    <li>Step away from sports or intense physical activity. Symptoms of mono lessen over a couple of weeks, but it's likely you won't feel like yourself for a few months. To make the recovery process as fast as possible, try to rest as much as possible.</li>
</ul>

<h4 style="color:white;">Seeing a physician:</h4>
	<p title=Seeing a physician>
		<p style="color:white;">If there is a mono outbreak on campus and you think you may have it, set up an appointment with your Campus Health Center as soon as possible. They are likely to ask you about your symptoms, so come prepared to answer!</p>

<footer style="color:white;">
	<p> SLO Hacks 2019 </p>
		</footer>

</html>
