<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

		footer {
				background-color: burlywood;
		}
		footer p{
				color: white;
				flex-direction: column;
				align-items: center;
		}
</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Norovirus</h1>
</center>
	<p title=Norovirus>
		<p style="color:white">Norovirus is a foodborne illness, meaning it spreads from contiminated food and/or water. With the large volume of students in small spaces and everyone sharing bathrooms and dining halls, this illness is very easily spread.</p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>low grade fever</li>
    <li>chills</li>
    <li>headache</li>
    <li>muscle aches</li>
    <li>fatigue</li>
    <li>diarrhea</li>
    <li>vomiting</li>
    <li>dehydration</li>
</ul>

<h4 style="color:white">Treatments include:</h4>
	<p title=Treatments>
		<p style="color:white">There is no medicine to cure Norovirus (the illness does not respond to antibiotics), but there are some things you can do to start up on your recovery.</p>

<ul style="color:white;">
	<li>Drink extra water. Norovirus can make you very dehydrated, so make sure to replace those fluids as best as possible</li>
  <li>Avoid sugary drinks to lessen diarrhea</li>
</ul>

<footer style="color:white;">
	<p> SLO Hacks 2019 </p>
		</footer>

</html>
