<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-reboot.min.css" integrity="sha256-6Uk2Y5UTmbboWmSq40s5J3wNDt6TzIUvse5UAXkWCjI=" crossorigin="anonymous" />

<style type="text/css">
		body {
				background: linear-gradient(to bottom, #99B5E8, #DBB79F);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				font-family: 'Imprima', sans-serif;

				display: flex;
				flex-direction: column;
		}

</style>
</head>

<h2 style="color:white;">You may have...</h2>

<center>
<h1 style="color:white;">Urinary tract infection (UTI)</h1>
</center>
	<p title=UTI>
		<p style="color:white;">Caused by the migration of bacteria from the vaginal area into the urethra and the bladder, it causes pain during urination and discharge is often cloudy. It likely occurs due to intercourse.</p>

<h4 style="color:white;">Ways to prevent UTI:</h4>
	<p title=Prevention>
		<p style="color:white;">By staying hydrated and peeing when the urge comes rather than holding it in, bladder infections can be easily prevented. Using the bathroom after sex is important, too.</p>

<h4 style="color:white;">Symptoms include:</h4>
	<p title=Symptoms>

<ul style="color:white;">
	<li>painful urination</li>
    <li>frequent need to urinate with only small amounts of urine</li>
    <li>cloudy, dark, bloody urination</li>
    <li>pelvic pain</li>
    <li>feeling tired or shaky</li>
</ul>

<h4 style="color:white;">Seeing a Doctor:</h4>
	<p title=Seeing a Doctor>
		<p style="color:white;">If you feel like you do have a UTI, visit your Campus Health Professional or a doctor. They might ask for a urine sample .</p>

<h4 style="color:white;">Treatments include:</h4>
	<p title=Treatments>
		<p style="color:white;">In most cases, HPV goes away on its own. There is no treatment made for HPV, but your doctor will most likely ask you to come in over a prolonged period of time to check on your infection. Keep in contact with your physician.</p>

</html>
